{:paths ["src"]
 :deps {;; Konserve uses StorageOptions/newBuilder, whose documented/default
        ;; transport is HTTP/JSON. google-cloud-storage also ships an optional
        ;; gRPC implementation in the same artifact; keeping its graph adds a
        ;; second transport, protobuf/gRPC stubs, telemetry exporters, and
        ;; native TLS libraries for every platform to every consumer. Version
        ;; 2.53.3+ explicitly supports running without the gRPC classes.
        com.google.cloud/google-cloud-storage
        {:mvn/version "2.69.0"
         :exclusions [com.google.cloud/google-cloud-core-grpc
                      com.google.api/gax-grpc
                      com.google.api.grpc/grpc-google-cloud-storage-v2
                      com.google.api.grpc/gapic-google-cloud-storage-v2
                      io.grpc/grpc-inprocess
                      io.grpc/grpc-alts
                      io.grpc/grpc-auth
                      io.grpc/grpc-core
                      io.grpc/grpc-protobuf
                      io.grpc/grpc-protobuf-lite
                      io.grpc/grpc-netty-shaded
                      io.grpc/grpc-opentelemetry
                      io.grpc/grpc-grpclb
                      io.grpc/grpc-googleapis
                      io.grpc/grpc-xds
                      io.grpc/grpc-services
                      io.grpc/grpc-rls
                      io.grpc/grpc-util
                      io.grpc/grpc-stub
                      org.conscrypt/conscrypt-openjdk-uber]}
        org.replikativ/konserve                 {:mvn/version "0.9.376"
                                                 :exclusions [com.github.pkpkpk/cljs-node-io
                                                              com.github.pkpkpk/fress
                                                              fress/fress
                                                              org.clojure/clojurescript
                                                              org.clojars.mmb90/cljs-cache]}
        org.replikativ/superv.async             {:mvn/version "0.3.50"}
        org.replikativ/logging                  {:mvn/version "0.1.3"}}
 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps {
                com.github.pkpkpk/fress {:mvn/version "0.4.312"
                                         :exclusions [org.clojure/clojurescript]}
                lambdaisland/kaocha {:mvn/version "1.60.977"}}}
  :test
  {:extra-paths ["test"]
   :extra-deps {
                com.github.pkpkpk/fress {:mvn/version "0.4.312"
                                         :exclusions [org.clojure/clojurescript]}
                lambdaisland/kaocha {:mvn/version "1.60.977"}}}
  :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
           :main-opts ["-m" "cljfmt.main" "check"]}
  :ffix   {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
           :main-opts ["-m" "cljfmt.main" "fix"]}
  :build  {:deps {io.github.clojure/tools.build          {:mvn/version "0.9.3"}
                  slipset/deps-deploy                    {:mvn/version "0.2.0"}
                  io.github.borkdude/gh-release-artifact {:git/sha "05f8d8659e6805d513c59447ff41dc8497878462"}
                  babashka/babashka.curl                 {:mvn/version "0.1.2"}
                  babashka/fs                            {:mvn/version "0.1.6"}
                  cheshire/cheshire                      {:mvn/version "5.10.2"}}
           :ns-default build}}}
